helpers show fragile behaviour while reloading Squid

For reasons to be investigated further, DNSBL helpers sometimes cause lots of "failed RFC 5782 (section 5) tests" messages while reloading Squid, occasionally provoking DNS flooding IPS alerts or DoS against Squid as they return `BH` too often.

This issue is a reminder to myself for fixing this behaviour.

Unfortunately, this issue could not be reproduced. Observed behaviour was likely related to an ongoing DDoS attempt against the used DNSBL services.