exception while asking for www.euroairport.com

Hi,

when I try to ask my rbl list with the fqdn www.euroairport.com I get an exception like:
```
All specified RBLs are operational and passed RFC 5782 (section 5) test - excellent. Waiting for input...
www.euroairport.com
Traceback (most recent call last):
  File "/usr/bin/dnsbl-ip.py", line 194, in <module>
    IPS = [ipaddress.ip_address(QSTRING)]
  File "/usr/lib/python3.5/ipaddress.py", line 54, in ip_address
    address)
ValueError: 'www.euroairport.com' does not appear to be an IPv4 or IPv6 address

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/bin/dnsbl-ip.py", line 197, in <module>
    IPS = resolve_addresses(QSTRING)
  File "/usr/bin/dnsbl-ip.py", line 96, in resolve_addresses
    for resolvedip in RESOLVER.query(domain, 'AAAA'):
  File "/usr/lib/python3/dist-packages/dns/resolver.py", line 947, in query
    raise NoNameservers(request=request, errors=errors)
dns.resolver.NoNameservers: All nameservers failed to answer the query www.euroairport.com. IN AAAA: Server 127.0.0.11 UDP port 53 answered SERVFAIL
```
for other fqdns like www.google.de I got the right answer:
```
All specified RBLs are operational and passed RFC 5782 (section 5) test - excellent. Waiting for input...
www.google.de
ERR
```

Commit 5443b5a8004f72645e2b814887e1084991463903 fixes this problem:
```
user@machine:~> python3 dnsbl-ip.py sbl-xbl.spamhaus.org
www.euroairport.com
ERR
```

Besides of that, DNS setup of `wip.euroairport.com` is broken ([Zonemaster report](https://zonemaster.net/result/b5c9c7b7ab7e33e1)).